<link rel="stylesheet" href="/css/Index.css">
<section class = "hero-section">
    <div class = "overlay">
        <div>
        <p class = "hero-welcome one-px-letter-spaceing" style="text-align: center;">Welcome To</p>
        <p class = "hero-cricbook one-px-letter-spaceing" style="text-align: center;">CRICBOOK</p>
        </div>
    </div>         
</section>