<section class = "login-player-section">
    <div class = "overlay d-flex flex-column align-items-center">
        <div class = "title-div">
            <h2 class = "title">Login as Host</h2>
        </div>
        <div class = "login-div">
            <form>
                <input type="email" class="form-control input-field" id="email" name="email" placeholder="Enter email">
                <input type="password" class="form-control input-field" id="password1" name="password1" placeholder="Enter password">
                <button type="submit" class="btn login-button">Login</button>
            </form>
        </div>
        <br /><br />
        <div class = "signup-div">
            <p class = "one-px-letter-spaceing login-as not-account-yet">Not any account yet? </p>
            <a href="https://localhost:7201/Home/SignupHost"><button class = "btn login-button signup-button">Sign up</button></a> 
        </div>
    </div>
</section>

<link rel="stylesheet" href="/css/LoginPlayer.css">