<section class = "login-section">
    <div class = "overlay">
        <div class = "container my-container">
            <div class="player-host">
                <div class="player">
                <p class = "one-px-letter-spaceing login-as">Login as</p>
                <a href="https://localhost:7201/Home/LoginPlayer"><button class = "btn login-button">Player</button></a> 
                </div>
                <div class="host">
                    <p class = "one-px-letter-spaceing login-as">Login as</p>
                    <a href="https://localhost:7201/Home/LoginHost"><button class = "btn login-button">Host</button></a> 
                </div>
            </div>

            <div class = "signup">
                <p class = "one-px-letter-spaceing login-as not-account-yet">Not any account yet? </p>
                <a href="https://localhost:7201/Home/Signup"><button class = "btn login-button signup-button">Sign up</button></a> 
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="/css/Login.css">

