@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bootstrap Form</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/Register.css">
</head>
<body>

  <div class="container">
    <br />
    <h2 class="white-text">Create new account</h2>
    <br />
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password">
      </div>
      <button type="submit" class="btn btn-success">Register</button>
    </form>
      
  </div>
  <br /><br />
  <div class="container">
      <p class="white-text">Already have an account?</p>
      <button class="btn btn-secondary"><a class="text-light text-decoration-none" href="https://localhost:7201/Home/Login/">Login</a></button>     
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

