<section class = "login-section">
    <div class = "overlay">
        <div class = "container">
            <div class="player-host">
                <div class="player">
                <p class = "one-px-letter-spaceing login-as">Sign up as</p>
                <a href="https://localhost:7201/Home/SignupPlayer"><button class = "btn login-button">Player</button></a> 
                </div>
                <div class="host">
                    <p class = "one-px-letter-spaceing login-as">Signup as</p>
                    <a href="https://localhost:7201/Home/SignupHost"><button class = "btn login-button">Host</button></a> 
                </div>
            </div>

            <div class = "signup">
                <p class = "one-px-letter-spaceing login-as not-account-yet">Already have an account? </p>
                <a href="https://localhost:7201/Home/Login"><button class = "btn login-button signup-button">Sign up</button></a> 
            </div>
        </div>
    </div>
</section>

<link rel="stylesheet" href="/css/Login.css">

