<section class = "signup-player-section"> 
    <div class = "overlay d-flex flex-column align-items-center">
        <div class = "title-div">
            <h2 class = "title">Sign up as Host</h2>
        </div>
        <div class = "signup-div">
            <form action="https://localhost:7201/Home/RegisterField" method="POST">
                <input type="text" class="form-control input-field" id="fname" name="fname" placeholder="Enter first name" required>
                <input type="text" class="form-control input-field" id="lname" name="lname" placeholder="Enter last name" required>
                <input type="text" class="form-control input-field" id="username" name="username" placeholder="Enter username" required>
                <input type="email" class="form-control input-field" id="email" name="email" placeholder="Enter email" required>
                <input type="text" class="form-control input-field" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required>
                <input type="password" class="form-control input-field" id="password1" name="password1" placeholder="Enter password" required>
                <input type="password" class="form-control input-field" id="password2" name="password2" placeholder="Confirm password" required>
                <button type="submit" class="btn signup-button">Proceed</button>
            </form>
        </div>
        <br /><br />
        <div class = "login-div">
            <p class = "one-px-letter-spaceing login-as not-account-yet">Already have an account? </p>
            <a href="https://localhost:7201/Home/LoginHost"><button class = "btn login-button login-button">Login</button></a> 
        </div>
    </div>
</section>

<link rel="stylesheet" href="/css/SignupHost.css">